doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    #banner
    #controls
      table
        tr
          td
            input#email(type='email', placeholder='email')
            input#password(type='password', placeholder='password')
          td
            button#create-user Create User
            button#login-user Login User
          td
            button#logout-user Logout User
            button#start-user Start User
    #boards
      table
        tr
          td#boardShips
            table
              - for(var y = 0; y < 10; y++)
                tr
                - for(var x = 0; x < 10; x++)
                  td(data-x=x, data-y=y)
          td#middlePanel
          td#boardAttacks
            table
              - for(var y = 0; y < 10; y++)
                tr
                - for(var x = 0; x < 10; x++)
                  td(data-x=x, data-y=y)

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
